* text=auto !eol
stable/0.8/Bcps/AUTHORS -text
stable/0.8/Bcps/LICENSE -text
stable/0.8/Bcps/Makefile.am -text
stable/0.8/Bcps/Makefile.in -text
stable/0.8/Bcps/README -text
stable/0.8/Bcps/bcps_addlibs.txt.in -text
stable/0.8/Bcps/configure -text
stable/0.8/Bcps/configure.ac -text
stable/0.8/Bcps/examples/Blis/AUTHORS -text
stable/0.8/Bcps/examples/Blis/Blis.h -text
stable/0.8/Bcps/examples/Blis/BlisBranchObjectInt.cpp -text
stable/0.8/Bcps/examples/Blis/BlisBranchObjectInt.h -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyPseudo.cpp -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyPseudo.h -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyRel.cpp -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyRel.h -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyStrong.cpp -text
stable/0.8/Bcps/examples/Blis/BlisBranchStrategyStrong.h -text
stable/0.8/Bcps/examples/Blis/BlisConGenerator.cpp -text
stable/0.8/Bcps/examples/Blis/BlisConGenerator.h -text
stable/0.8/Bcps/examples/Blis/BlisConstraint.cpp -text
stable/0.8/Bcps/examples/Blis/BlisConstraint.h -text
stable/0.8/Bcps/examples/Blis/BlisHelp.cpp -text
stable/0.8/Bcps/examples/Blis/BlisHelp.h -text
stable/0.8/Bcps/examples/Blis/BlisHeurRound.cpp -text
stable/0.8/Bcps/examples/Blis/BlisHeurRound.h -text
stable/0.8/Bcps/examples/Blis/BlisHeuristic.h -text
stable/0.8/Bcps/examples/Blis/BlisLicense.h -text
stable/0.8/Bcps/examples/Blis/BlisMain.cpp -text
stable/0.8/Bcps/examples/Blis/BlisMessage.cpp -text
stable/0.8/Bcps/examples/Blis/BlisMessage.h -text
stable/0.8/Bcps/examples/Blis/BlisModel.cpp -text
stable/0.8/Bcps/examples/Blis/BlisModel.h -text
stable/0.8/Bcps/examples/Blis/BlisNodeDesc.h -text
stable/0.8/Bcps/examples/Blis/BlisObjectInt.cpp -text
stable/0.8/Bcps/examples/Blis/BlisObjectInt.h -text
stable/0.8/Bcps/examples/Blis/BlisParams.cpp -text
stable/0.8/Bcps/examples/Blis/BlisParams.h -text
stable/0.8/Bcps/examples/Blis/BlisPseudo.cpp -text
stable/0.8/Bcps/examples/Blis/BlisPseudo.h -text
stable/0.8/Bcps/examples/Blis/BlisSolution.h -text
stable/0.8/Bcps/examples/Blis/BlisSubTree.h -text
stable/0.8/Bcps/examples/Blis/BlisTreeNode.cpp -text
stable/0.8/Bcps/examples/Blis/BlisTreeNode.h -text
stable/0.8/Bcps/examples/Blis/BlisVariable.h -text
stable/0.8/Bcps/examples/Blis/INSTALL -text
stable/0.8/Bcps/examples/Blis/LICENSE -text
stable/0.8/Bcps/examples/Blis/Makefile.in -text
stable/0.8/Bcps/examples/Blis/README -text
stable/0.8/Bcps/examples/Blis/Win32/v8/Blis.sln -text
stable/0.8/Bcps/examples/Blis/Win32/v8/Blis.suo -text
stable/0.8/Bcps/examples/Blis/Win32/v8/Blis.vcproj -text
stable/0.8/Bcps/examples/Blis/blis.par.in -text
stable/0.8/Bcps/examples/Blis/data/egout.mps -text
stable/0.8/Bcps/examples/Blis/data/flugpl.mps -text
stable/0.8/Bcps/examples/Blis/data/gen.mps -text
stable/0.8/Bcps/examples/Blis/data/knap1.mps -text
stable/0.8/Bcps/examples/Blis/data/knap2.mps -text
stable/0.8/Bcps/examples/Blis/data/knap3.mps -text
stable/0.8/Bcps/inc/config_bcps.h.in -text
stable/0.8/Bcps/src/Bcps.h -text
stable/0.8/Bcps/src/BcpsBranchObject.cpp -text
stable/0.8/Bcps/src/BcpsBranchObject.h -text
stable/0.8/Bcps/src/BcpsBranchStrategy.cpp -text
stable/0.8/Bcps/src/BcpsBranchStrategy.h -text
stable/0.8/Bcps/src/BcpsConfig.h -text
stable/0.8/Bcps/src/BcpsInterface.h -text
stable/0.8/Bcps/src/BcpsLicense.h -text
stable/0.8/Bcps/src/BcpsMessage.cpp -text
stable/0.8/Bcps/src/BcpsMessage.h -text
stable/0.8/Bcps/src/BcpsModel.cpp -text
stable/0.8/Bcps/src/BcpsModel.h -text
stable/0.8/Bcps/src/BcpsNodeDesc.cpp -text
stable/0.8/Bcps/src/BcpsNodeDesc.h -text
stable/0.8/Bcps/src/BcpsObject.cpp -text
stable/0.8/Bcps/src/BcpsObject.h -text
stable/0.8/Bcps/src/BcpsObjectPool.h -text
stable/0.8/Bcps/src/BcpsSolution.cpp -text
stable/0.8/Bcps/src/BcpsSolution.h -text
stable/0.8/Bcps/src/BcpsSubTree.cpp -text
stable/0.8/Bcps/src/BcpsSubTree.h -text
stable/0.8/Bcps/src/BcpsTreeNode.cpp -text
stable/0.8/Bcps/src/BcpsTreeNode.h -text
stable/0.8/Bcps/src/Makefile.am -text
stable/0.8/Bcps/src/Makefile.in -text
stable/0.8/Bcps/test/Makefile.am -text
stable/0.8/Bcps/test/Makefile.in -text
stable/0.8/Externals.release -text
stable/0.8/Makefile.am -text
stable/0.8/Makefile.in -text
stable/0.8/README -text
stable/0.8/Win32/v8/libBcps.vcproj -text
stable/0.8/config.guess -text
stable/0.8/config.sub -text
stable/0.8/configure -text
stable/0.8/configure.ac -text
stable/0.8/depcomp -text
stable/0.8/doxydoc/doxygen.conf -text
stable/0.8/install-sh -text
stable/0.8/ltmain.sh -text
stable/0.8/missing -text
trunk/Bcps/AUTHORS -text
trunk/Bcps/LICENSE -text
trunk/Bcps/Makefile.am -text
trunk/Bcps/Makefile.in -text
trunk/Bcps/README -text
trunk/Bcps/bcps_addlibs.txt.in -text
trunk/Bcps/configure -text
trunk/Bcps/configure.ac -text
trunk/Bcps/examples/Blis/AUTHORS -text
trunk/Bcps/examples/Blis/Blis.h -text
trunk/Bcps/examples/Blis/BlisBranchObjectInt.cpp -text
trunk/Bcps/examples/Blis/BlisBranchObjectInt.h -text
trunk/Bcps/examples/Blis/BlisBranchStrategyPseudo.cpp -text
trunk/Bcps/examples/Blis/BlisBranchStrategyPseudo.h -text
trunk/Bcps/examples/Blis/BlisBranchStrategyRel.cpp -text
trunk/Bcps/examples/Blis/BlisBranchStrategyRel.h -text
trunk/Bcps/examples/Blis/BlisBranchStrategyStrong.cpp -text
trunk/Bcps/examples/Blis/BlisBranchStrategyStrong.h -text
trunk/Bcps/examples/Blis/BlisConGenerator.cpp -text
trunk/Bcps/examples/Blis/BlisConGenerator.h -text
trunk/Bcps/examples/Blis/BlisConstraint.cpp -text
trunk/Bcps/examples/Blis/BlisConstraint.h -text
trunk/Bcps/examples/Blis/BlisHelp.cpp -text
trunk/Bcps/examples/Blis/BlisHelp.h -text
trunk/Bcps/examples/Blis/BlisHeurRound.cpp -text
trunk/Bcps/examples/Blis/BlisHeurRound.h -text
trunk/Bcps/examples/Blis/BlisHeuristic.h -text
trunk/Bcps/examples/Blis/BlisLicense.h -text
trunk/Bcps/examples/Blis/BlisMain.cpp -text
trunk/Bcps/examples/Blis/BlisMessage.cpp -text
trunk/Bcps/examples/Blis/BlisMessage.h -text
trunk/Bcps/examples/Blis/BlisModel.cpp -text
trunk/Bcps/examples/Blis/BlisModel.h -text
trunk/Bcps/examples/Blis/BlisNodeDesc.h -text
trunk/Bcps/examples/Blis/BlisObjectInt.cpp -text
trunk/Bcps/examples/Blis/BlisObjectInt.h -text
trunk/Bcps/examples/Blis/BlisParams.cpp -text
trunk/Bcps/examples/Blis/BlisParams.h -text
trunk/Bcps/examples/Blis/BlisPseudo.cpp -text
trunk/Bcps/examples/Blis/BlisPseudo.h -text
trunk/Bcps/examples/Blis/BlisSolution.h -text
trunk/Bcps/examples/Blis/BlisSubTree.h -text
trunk/Bcps/examples/Blis/BlisTreeNode.cpp -text
trunk/Bcps/examples/Blis/BlisTreeNode.h -text
trunk/Bcps/examples/Blis/BlisVariable.h -text
trunk/Bcps/examples/Blis/INSTALL -text
trunk/Bcps/examples/Blis/LICENSE -text
trunk/Bcps/examples/Blis/Makefile.in -text
trunk/Bcps/examples/Blis/README -text
trunk/Bcps/examples/Blis/Win32/v8/Blis.sln -text
trunk/Bcps/examples/Blis/Win32/v8/Blis.suo -text
trunk/Bcps/examples/Blis/Win32/v8/Blis.vcproj -text
trunk/Bcps/examples/Blis/blis.par.in -text
trunk/Bcps/examples/Blis/data/egout.mps -text
trunk/Bcps/examples/Blis/data/flugpl.mps -text
trunk/Bcps/examples/Blis/data/gen.mps -text
trunk/Bcps/examples/Blis/data/knap1.mps -text
trunk/Bcps/examples/Blis/data/knap2.mps -text
trunk/Bcps/examples/Blis/data/knap3.mps -text
trunk/Bcps/inc/config_bcps.h.in -text
trunk/Bcps/src/Bcps.h -text
trunk/Bcps/src/BcpsBranchObject.cpp -text
trunk/Bcps/src/BcpsBranchObject.h -text
trunk/Bcps/src/BcpsBranchStrategy.cpp -text
trunk/Bcps/src/BcpsBranchStrategy.h -text
trunk/Bcps/src/BcpsConfig.h -text
trunk/Bcps/src/BcpsInterface.h -text
trunk/Bcps/src/BcpsLicense.h -text
trunk/Bcps/src/BcpsMessage.cpp -text
trunk/Bcps/src/BcpsMessage.h -text
trunk/Bcps/src/BcpsModel.cpp -text
trunk/Bcps/src/BcpsModel.h -text
trunk/Bcps/src/BcpsNodeDesc.cpp -text
trunk/Bcps/src/BcpsNodeDesc.h -text
trunk/Bcps/src/BcpsObject.cpp -text
trunk/Bcps/src/BcpsObject.h -text
trunk/Bcps/src/BcpsObjectPool.h -text
trunk/Bcps/src/BcpsSolution.cpp -text
trunk/Bcps/src/BcpsSolution.h -text
trunk/Bcps/src/BcpsSubTree.cpp -text
trunk/Bcps/src/BcpsSubTree.h -text
trunk/Bcps/src/BcpsTreeNode.cpp -text
trunk/Bcps/src/BcpsTreeNode.h -text
trunk/Bcps/src/Makefile.am -text
trunk/Bcps/src/Makefile.in -text
trunk/Bcps/test/Makefile.am -text
trunk/Bcps/test/Makefile.in -text
trunk/Externals -text
trunk/Externals.release -text
trunk/Makefile.am -text
trunk/Makefile.in -text
trunk/README -text
trunk/Win32/v8/libBcps.vcproj -text
trunk/config.guess -text
trunk/config.sub -text
trunk/configure -text
trunk/configure.ac -text
trunk/depcomp -text
trunk/doxydoc/doxygen.conf -text
trunk/install-sh -text
trunk/ltmain.sh -text
trunk/missing -text
