* text=auto !eol
/AUTHORS -text
/LICENSE -text
/Makefile.am -text
/Makefile.in -text
/biceps_addlibs.txt.in -text
/configure -text
/configure.ac -text
examples/Blis/AUTHORS -text
examples/Blis/Blis.h -text
examples/Blis/BlisBranchObjectInt.cpp -text
examples/Blis/BlisBranchObjectInt.h -text
examples/Blis/BlisBranchStrategyPseudo.cpp -text
examples/Blis/BlisBranchStrategyPseudo.h -text
examples/Blis/BlisBranchStrategyRel.cpp -text
examples/Blis/BlisBranchStrategyRel.h -text
examples/Blis/BlisBranchStrategyStrong.cpp -text
examples/Blis/BlisBranchStrategyStrong.h -text
examples/Blis/BlisConGenerator.cpp -text
examples/Blis/BlisConGenerator.h -text
examples/Blis/BlisConstraint.cpp -text
examples/Blis/BlisConstraint.h -text
examples/Blis/BlisHelp.cpp -text
examples/Blis/BlisHelp.h -text
examples/Blis/BlisHeurRound.cpp -text
examples/Blis/BlisHeurRound.h -text
examples/Blis/BlisHeuristic.h -text
examples/Blis/BlisLicense.h -text
examples/Blis/BlisMain.cpp -text
examples/Blis/BlisMessage.cpp -text
examples/Blis/BlisMessage.h -text
examples/Blis/BlisModel.cpp -text
examples/Blis/BlisModel.h -text
examples/Blis/BlisNodeDesc.h -text
examples/Blis/BlisObjectInt.cpp -text
examples/Blis/BlisObjectInt.h -text
examples/Blis/BlisParams.cpp -text
examples/Blis/BlisParams.h -text
examples/Blis/BlisPseudo.cpp -text
examples/Blis/BlisPseudo.h -text
examples/Blis/BlisSolution.h -text
examples/Blis/BlisSubTree.h -text
examples/Blis/BlisTreeNode.cpp -text
examples/Blis/BlisTreeNode.h -text
examples/Blis/BlisVariable.h -text
examples/Blis/INSTALL -text
examples/Blis/LICENSE -text
examples/Blis/Makefile.in -text
examples/Blis/README -text
examples/Blis/blis.par.in -text
examples/Blis/data/egout.mps -text
examples/Blis/data/flugpl.mps -text
examples/Blis/data/gen.mps -text
examples/Blis/data/knap1.mps -text
examples/Blis/data/knap2.mps -text
examples/Blis/data/knap3.mps -text
inc/config_biceps.h.in -text
src/BcpsBranchObject.cpp -text
src/BcpsBranchObject.h -text
src/BcpsBranchStrategy.cpp -text
src/BcpsBranchStrategy.h -text
src/BcpsConfig.h -text
src/BcpsInterface.h -text
src/BcpsLicense.h -text
src/BcpsModel.h -text
src/BcpsNodeDesc.cpp -text
src/BcpsNodeDesc.h -text
src/BcpsObject.cpp -text
src/BcpsObject.h -text
src/BcpsObjectPool.h -text
src/BcpsSolution.cpp -text
src/BcpsSolution.h -text
src/BcpsSubTree.cpp -text
src/BcpsSubTree.h -text
src/BcpsTreeNode.cpp -text
src/BcpsTreeNode.h -text
src/Makefile.am -text
src/Makefile.in -text
test/Makefile.am -text
test/Makefile.in -text
