* text=auto !eol
Bcps/AUTHORS -text
Bcps/LICENSE -text
Bcps/Makefile.am -text
Bcps/Makefile.in -text
Bcps/README -text
Bcps/bcps_addlibs.txt.in -text
Bcps/configure -text
Bcps/configure.ac -text
Bcps/examples/Blis/AUTHORS -text
Bcps/examples/Blis/Blis.h -text
Bcps/examples/Blis/BlisBranchObjectInt.cpp -text
Bcps/examples/Blis/BlisBranchObjectInt.h -text
Bcps/examples/Blis/BlisBranchStrategyPseudo.cpp -text
Bcps/examples/Blis/BlisBranchStrategyPseudo.h -text
Bcps/examples/Blis/BlisBranchStrategyRel.cpp -text
Bcps/examples/Blis/BlisBranchStrategyRel.h -text
Bcps/examples/Blis/BlisBranchStrategyStrong.cpp -text
Bcps/examples/Blis/BlisBranchStrategyStrong.h -text
Bcps/examples/Blis/BlisConGenerator.cpp -text
Bcps/examples/Blis/BlisConGenerator.h -text
Bcps/examples/Blis/BlisConstraint.cpp -text
Bcps/examples/Blis/BlisConstraint.h -text
Bcps/examples/Blis/BlisHelp.cpp -text
Bcps/examples/Blis/BlisHelp.h -text
Bcps/examples/Blis/BlisHeurRound.cpp -text
Bcps/examples/Blis/BlisHeurRound.h -text
Bcps/examples/Blis/BlisHeuristic.h -text
Bcps/examples/Blis/BlisLicense.h -text
Bcps/examples/Blis/BlisMain.cpp -text
Bcps/examples/Blis/BlisMessage.cpp -text
Bcps/examples/Blis/BlisMessage.h -text
Bcps/examples/Blis/BlisModel.cpp -text
Bcps/examples/Blis/BlisModel.h -text
Bcps/examples/Blis/BlisNodeDesc.h -text
Bcps/examples/Blis/BlisObjectInt.cpp -text
Bcps/examples/Blis/BlisObjectInt.h -text
Bcps/examples/Blis/BlisParams.cpp -text
Bcps/examples/Blis/BlisParams.h -text
Bcps/examples/Blis/BlisPseudo.cpp -text
Bcps/examples/Blis/BlisPseudo.h -text
Bcps/examples/Blis/BlisSolution.h -text
Bcps/examples/Blis/BlisSubTree.h -text
Bcps/examples/Blis/BlisTreeNode.cpp -text
Bcps/examples/Blis/BlisTreeNode.h -text
Bcps/examples/Blis/BlisVariable.h -text
Bcps/examples/Blis/INSTALL -text
Bcps/examples/Blis/LICENSE -text
Bcps/examples/Blis/Makefile.in -text
Bcps/examples/Blis/README -text
Bcps/examples/Blis/Win32/v8/Blis.sln -text
Bcps/examples/Blis/Win32/v8/Blis.suo -text
Bcps/examples/Blis/Win32/v8/Blis.vcproj -text
Bcps/examples/Blis/blis.par.in -text
Bcps/examples/Blis/data/egout.mps -text
Bcps/examples/Blis/data/flugpl.mps -text
Bcps/examples/Blis/data/gen.mps -text
Bcps/examples/Blis/data/knap1.mps -text
Bcps/examples/Blis/data/knap2.mps -text
Bcps/examples/Blis/data/knap3.mps -text
Bcps/inc/config_bcps.h.in -text
Bcps/src/Bcps.h -text
Bcps/src/BcpsBranchObject.cpp -text
Bcps/src/BcpsBranchObject.h -text
Bcps/src/BcpsBranchStrategy.cpp -text
Bcps/src/BcpsBranchStrategy.h -text
Bcps/src/BcpsConfig.h -text
Bcps/src/BcpsInterface.h -text
Bcps/src/BcpsLicense.h -text
Bcps/src/BcpsMessage.cpp -text
Bcps/src/BcpsMessage.h -text
Bcps/src/BcpsModel.cpp -text
Bcps/src/BcpsModel.h -text
Bcps/src/BcpsNodeDesc.cpp -text
Bcps/src/BcpsNodeDesc.h -text
Bcps/src/BcpsObject.cpp -text
Bcps/src/BcpsObject.h -text
Bcps/src/BcpsObjectPool.h -text
Bcps/src/BcpsSolution.cpp -text
Bcps/src/BcpsSolution.h -text
Bcps/src/BcpsSubTree.cpp -text
Bcps/src/BcpsSubTree.h -text
Bcps/src/BcpsTreeNode.cpp -text
Bcps/src/BcpsTreeNode.h -text
Bcps/src/Makefile.am -text
Bcps/src/Makefile.in -text
Bcps/test/Makefile.am -text
Bcps/test/Makefile.in -text
/Externals.release -text
/Makefile.am -text
/Makefile.in -text
/README -text
Win32/v8/libBcps.vcproj -text
/config.guess -text
/config.sub -text
/configure -text
/configure.ac -text
/depcomp -text
doxydoc/doxygen.conf -text
/install-sh -text
/ltmain.sh -text
/missing -text
